*.ipynb_checkpoints
*__pycache__
/cars.mp4
/model_weights.h5

# Virtual Environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db